.imgDiv {
	/*text-align:center;*/
	float: left;
	width:30%;
	margin-left: 50px;
}

.commentDiv {
	float:left;
	width:35%;
	margin-top: -83px;
	margin-right: -200px;
}

.forms {
	float:left;
	width:30%;
}