.headline{
  font-size: 50px;
  color: white;
  font-style: oblique;
  font-family: 'Pacifico', cursive;
}

.blah{
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  color: white;
}
.jumbo-text{
  padding-left: 300px;
}

.search-bar{
  /* text-align: left; */
  float: left;
}
